{% extends 'base.html.twig' %}

{% block title %}accueil
{% endblock %}

{% block body %}

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>


		<center>
			<h1>Bonjour et Bienvenue sur les API</h1>
		</center>

		<button id="btins" type="button" data-toggle="modal" data-target="#modalInscrire">Inscription</button>

		<div class="modal fade" id="modalInscrire" tabindex="-1" role="dialog" aria-labelledby="ModalIns" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">

						<h5 class="modal-title" id="ModalIns">Inscription</h5>

						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

					</div>
					<div class="modal-body">

						<label for="email">Email:</label>
						<input type="email" id="inputEmail" name="email">
						</br>
						<label for="nom">Nom:</label>
						<input type="text" id="inputNom" name="nom">
						</br>
						<label for="prenom">Prenom:</label>
						<input type="text" id="inputPrenom" name="prenom">
						</br>
						<label for="mdp">Mot de passe:</label>
						<input type="password" id="inputPassword" name="mdp">
						</br>
						<label for="mdp2">Repeat Mot de Passe:</label>
						<input type="password" id="inputPassword2" name="mdp2">

					</div>

					<div class="modal-footer">
						<button type="button" id="btinscrire">Inscrire</button>
						<button type="button" data-dismiss="modal">Exit</button>
					</div>
				</div>
			</div>
		</div>


		<button id="btco" type="button" data-toggle="modal" data-target="#exampleModal">Connexion</button>

		<button id="boutton" type="button">Se deconnecter</button>


		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">

						<h5 class="modal-title" id="exampleModalLabel">Connexion</h5>

						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

					</div>
					<div class="modal-body">
						<label for="emaile">Email:</label>
						<input type="email" id="email" name="emaile">
					</br>
					<label for="mdpe">Mot de passe:</label>
					<input type="password" id="mdp" name="mdpe">

				</div>

				<div class="modal-footer">
					<button type="button" id="btconnect">Connexion</button>
					<button type="button" data-dismiss="modal">Exit</button>
				</div>

			</div>
		</div>
	</body>
</div>


<div id="madiv">
	<select id="ok">
		<option value="0" selected>Sélectionnez</option>
	</select>
</div>

<!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="js/script.js"></script>
<script src="js/inscrire.js"></script>

</body>
{% endblock %}
